body,html{
    height :100%;
    width:100%;
    overflow:auto;
}
body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
}

h1 {
    font: 'Raleway', sans-serif;
    font-size: 2.3em;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}
#randombtn{
	background-color:lightgreen;
	padding: 1%;
	border-radius: 10%;
}